<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.temple.colorswithspanish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="colorswithspanish"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.temple.colorswithspanish.CanvasActivity"
            android:label="@string/CanvasActivity_title">
        </activity>
        <activity android:name="edu.temple.colorswithspanish.PaletteActivity"
            android:label="@string/PaletteActivity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>